@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background: whitesmoke;
    margin: 0;
}

.created{
    font-family: 'Krona One', sans-serif;
    background-color: khaki;
    color: darkred;
    text-align: center;
    font-size:xx-small;
    span{
        &:hover{
            background-color: darkred;
            color: khaki;
            border-radius: 2em;
            padding: 1em;
        }
    }
}

.navbar{
    background: white;
    padding: 1em;
    .logo{
        font-family: 'Krona One', sans-serif;
        text-decoration: none;
        padding: 0.5em;
        font-weight: bold;
        color: darkred;
        font-size: 2em;
    }

    nav{
        display: none;
    }

    .container{
        display:flex;
        place-content: space-between;
    }

    .mobilebutton{
        cursor: pointer;
    }

    .pri-nav{
        list-style-type: none;
    }

    .sec-nav{
        list-style-type: none;
    }
}

.pri-home{
    .left-col{
        font-family: 'Open Sans', sans-serif;
        padding: 2em;
        .subhead1{
            font-weight: bolder;
            text-align: center;
            font-size: 2em;
            color: darkred;
            background-color: burlywood;
            padding: 0.5em;
        }
        .para1{
            text-align: justify;
        }
    }
}

.sec-home{
    .right-col{
        font-family: 'Open Sans', sans-serif;
        padding: 2em;
        .subhead2{
            font-weight: bolder;
            text-align: center;
            font-size: 2em;
            color: darkred;
            background-color:burlywood;
            padding: 0.5em;
        }
        .para2{
            text-align: justify;
        }
    }
}

.build{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.mt{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}


nav{
    position: fixed;
    z-index: 999;
    width: 70%;
    top: 0%;
    right: 0%;
    padding: 1em;
    background-color:white;
    ul.pri-nav{
        margin-top: 2.5em;
    }
    ul.sec-nav{
        margin-top: 0em;
    }
    li{
        a{
            color:darkred;
            text-decoration: none;
            display: block;
            font-weight: bold;
            padding: 1em;
            font-size: 1.2em;
            text-align:center;
            padding-left: 0%;
            margin-left: 0%;
            &:hover{
                background-color:khaki;
                padding: 0.5em;
                border-radius: 5em;
            }
        }
    }
}

nav.menu-btn{
    display:block;
}

.mobilebutton-exit{
    float: right;
    margin-top: 0.5em;
    cursor: pointer;
}

@media only screen and (min-width: 1157px) {
    .mobilebutton,.mobilebutton-exit{
        display: none;
    }

    .navbar .container{
        display: grid;
        grid-template-columns: 300px auto;
    }

    .navbar nav{
        display: flex;
        justify-content:space-between;
        position:unset;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0%;
        ul{
            display: flex;
        }
        ul.pri-nav{
            margin: 0%;
            padding: 0.5em;
        }        
        ul.sec-nav{
            margin: 0em;
            padding: 0.5em
        }
        a{
            font-size: 1.5em;
            padding: 0.5em 1em;
        }
    }
    
}

@media only screen and (min-width: 1157px){
    section .container{
        width: 1157px;
        margin: auto;
    }
    section{
        padding: 3em;
    }
    .pri-home .container{
        display: flex;
        .subhead1{
            text-align: left;
            font-size: 2em;
            padding: 0.5em;
        }
        .para1{
            font-size: 1.5em;
        }
    }
    .sec-home .container{
        display: flex ;
        .subhead2{
            text-align: right;
            font-size: 2em;
            padding: 0.5em;
        }
        .para2{
            font-size: 1.5em;
        }
    }
}


//faq css

.faq{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    h3{
        background-color: burlywood;
        padding: 1em;
        margin: 1em;
        color: darkred;
    }
    p{
        padding: 0.5em;
    }
}

//contact css

.cont{
    font-family: 'Open Sans', sans-serif;
    .sh1{
        text-align: center;
        background-color: darkred;
        padding: 1em;
        color: white;
    }
    .sh2{
        text-align: left;
        background-color: burlywood;
        padding: 0.5em;
        color: darkred;
    }
    .sh3{
        text-align: left;
        background-color: burlywood;
        padding: 0.5em;
        color: darkred;
    }
    .n1{
        padding: 1em;
        span{
            color: darkred;
            padding: 2em;
        }
    }
    .n2{
        color: darkred;
        padding-left: 11.5em;
    }
    .insta ,.fb ,.twr,.mail{
        display: none
    }
    .med{
        width: 8%;
        padding: 1.5em;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1157px){
    .cont{
        
        .med{
            width: 5%;
            
        }
    }
}

//money transfer css
.container_transfer{
    padding: 5em;
    background-color: khaki;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: darkred;
    label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

    input, label {
        float:left;
        display: flex;
        padding: 0.5em;
        margin-bottom: 1.5em;
    }

    button{
        background-color:darkred;
        border: none;
        color: white;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-top: 20em;
        margin-left: -11em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            background-color:white;
            color: darkred;
            font-weight: bolder;
            border-radius: 2em;
        }
    }
}

@media only screen and (min-width: 530px){
    .container_transfer{
        button{
            margin-top: 4em;
            margin-left: 13em;
        }
    }
}

@media only screen and (min-width: 698px){
    .container_transfer{
        button{
            margin-top: 10em;
            margin-left: -9.75em;
        }
    }
}

//accounts css

.container_acc{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    th{
        text-align: center;
        padding: 2em;
        background-color:firebrick;
        font-size: larger;
        font-weight: bolder;
        color: white;
    }
    tr{
        text-align: center;
        background-color: khaki;
        
    }
    td{
        padding: 0.75em;
        color: darkred;
        font-weight:bolder;
    }
    .dataitems{
        &:hover{
            background-color: white;
        }
    }
}

//transaction history css

.container_th{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    th{
        text-align: center;
        padding: 2em;
        background-color:firebrick;
        font-size: larger;
        font-weight: bolder;
        color: white;
    }
    tr{
        text-align: center;
        background-color: khaki;
        
    }
    td{
        padding: 0.75em;
        color: darkred;
        font-weight:bolder;
    }
    .rh{
        &:hover{
            background-color: white;
        }
    }
}